@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Hi keanna</p>

<div>
    <a asp-controller="Home" asp-action="TaskGrid">View this Quandrant</a>
</div>

<p>Jackson wrote something here and pushed it</p>

<p>Hi Jackson - Keanna</p>
